mixin taskItem(task)
	.task-item.late3
		.contents
			.text
				a.heading-task
					| Design the Tasks Page
				a.text-task
					| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
				a.link view more
			.time
				a.item 31st March 2022
				a.item by 13:00 hrs
				.icons
					i.fas.fa-times-circle.no
					i.fas.fa-plus-circle.add
					i.fas.fa-check-circle.done
		.assign
			.item
				.profile-img-stack
					.profile-img(style='background-image: url(./../img/user1.jpg);')
					.profile-img(style='background-image: url(./../img/user2.jpg);')
					.profile-img(style='background-image: url(./../img/user3.jpg);')
				.name
					a.sub-text Assigned To
					a.names You, Dhiraj, and 3 others
			.item
				.profile-img-stack
					.profile-img(style='background-image: url(./../img/user1.jpg);')
				.name
					a.sub-text Assigned By
					a.names Jonas Scheddmann