.overlay
  .main
    header
      .left-block
        .back-btn
          span.material-icons.back-btn arrow_back_ios
        .title.bold
          | Create Task
    form.form-task(action='')
      .left-panel
        #task-title.form-item.title
          input(type='text' placeholder='Title' required=true)
        .form-item.x.small
          label(for='start-time') Start Time
          input#start-time(type='datetime-local' name='start-time')
        .form-item.x.small
          label(for='end-time') End Time
          input#end-time(type='datetime-local' name='end-time')
        .form-item
          label(for='') Description
          textarea.text-area#description(type='text')
        //- .form-item
        //-   label(for='') Steps
        //-   textarea.text-area#steps(type='text')
        //- .form-item.multiple-x
        //-   .item
        //-     label(for='') Project:
        //-     input#project(type='text')
        .form-item
          input.btn.primary--active(type='submit')
          | Save
      .right-panel
        a Assign To
        .search-bar.full-width#assignToResult
          input#task-searchbar.input-area(type='text' placeholder='Search for Users and Teams')
          .icon
            span.material-icons search
          //- .drop-down
             
        .items#assignedToResult
          //- .profile
          //-   .left-section
          //-     .profile-img(style='background-image: url(./../img/user1.jpg);')
          //-     .name Rishab Dugar
          //-   .right-section
          //-     .uid U-18hd74ng
          //-   .cross-btn
          //-     span.material-icons
          //-       | close
