head
	title tasks-page
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
	script(src='https://kit.fontawesome.com/a5809f8554.js' crossorigin='anonymous')
header
	.logo.small
		| TRACK-it
.body-contents.tasks
	.menu
		.user-Current
			.profile-img(style='background-image: url(./../img/user1.jpg);')
			.user-info
				.role Senior Dev at Go Inc
				.name.bold Rishab Dugar
		.heading.bold Menu
		.items
			.top-deck
				.item
					i.fas.fa-th-large
					a.title Dashboard
				.item
					i.fas.fa-th-large
					a.title Team
				.item.active
					i.fas.fa-th-large
					a.title Tasks
				.item
					i.fas.fa-th-large
					a.title Projects
				.item
					i.fas.fa-th-large
					a.title Calender
				.item
					i.fas.fa-th-large
					a.title Mail
				.item
					i.fas.fa-th-large
					a.title Notifications
				.item
					i.fas.fa-th-large
					a.title Chat
			.bottom-deck
				.item.error
					i.fas.fa-th-large
					a.title Logout
	.main
		header
			.title.bold My Tasks
			.tabs
				.item.active Assigned to Me
				.item Assigned by Me
			.btn.primary--active New+
		.task-group
			header
				.title
					.sub-name PROJECT
					.name Go-Inc
			.group-contents
				.task-item.late3
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item.late2
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item.late2
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
		.task-group
			header
				.title
					.name Other Tasks
			.group-contents
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
				.task-item
					.contents
						.text
							a.heading-task
								| Design the Tasks Page
							a.text-task
								| Redesign the task item with more colors and better visuals and do many more stuff vgfewrhtr hbe bgfre b bte bvreb bgfe.
							a.link view more
						.time
							a.item 31st March 2022
							a.item by 13:00 hrs
							.icons
								i.fas.fa-times-circle.no
								i.fas.fa-plus-circle.add
								i.fas.fa-check-circle.done
					.assign
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
								.profile-img(style='background-image: url(./../img/user2.jpg);')
								.profile-img(style='background-image: url(./../img/user3.jpg);')
							.name
								a.sub-text Assigned To
								a.names You, Dhiraj, and 3 others
						.item
							.profile-img-stack
								.profile-img(style='background-image: url(./../img/user1.jpg);')
							.name
								a.sub-text Assigned By
								a.names Jonas Scheddmann
footer
script(src='style.js')
link(rel='stylesheet' href='style.css')
