doctype html 
include _header
html
	head 
		block head
			title Track-it | #{user.name}
			link(rel='preconnect' href='https://fonts.googleapis.com')
			link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
			link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
			//-link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')	
			//-link(rel='stylesheet' href='/css/all.css')
			link(rel='stylesheet' href='/css/style.css')
			link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
			link(rel='icon' type='image/x-icon' href='/img/favicon.png')
	body 
		// Header ->>
		+header({all:true})

		// Content ->>
		block content 
			h1 Placeholder

		// Footer ->>
		include _footer

		script(src='/script/bundle.js')

