*{
	/* padding: 0; */
	margin: 0;
	font-family: var(--font);
	transition: 0.1s all;
}
/* @import url('../node_modules/font-awesome/css/font-awesome.min.css'); */
:root{
	--accentColor: rgb(255, 198, 38);
	--accentColor2: #f8b500;
	--accentColorDark: #c59000;
	--accentColorFaded: rgb(255, 198, 38, 0.5);
	--white: rgb(245, 245, 245);
	--whiteFaded: rgb(245, 245, 245, 0.5);
	--green: rgb(27, 203, 56, 0.8);
	--green: rgba(0, 228, 10, 1);
	--greenDark: rgb(0, 161, 8);
	--yellow: rgba(246, 201, 21, 1);
	--blue: rgb(110, 194, 255);
	--blueDark: rgb(53, 171, 255);

	--red:  rgba(255, 34, 34, 0.8);
	--bg-green: rgba(27, 203, 56, 0.05);
	--bg-red:  rgba(228, 0, 0, 0.05);

	--font: 'roboto', sans-serif;
	--sfont: 'Playfair Display', sans-serif;
}
body{
	background: linear-gradient(129.91deg, rgba(0, 0, 0, 0.9) , rgb(0, 0, 0));
}
.btn{
	padding: 10px 20px 10px 20px !important;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	cursor: pointer;
	font-size: 22px;
}
.btn.primary--active{
	background-color: var(--accentColor) !important;
	color: var(--white) !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
}
.block{
	width: 100%;
	max-width: 100%;
	padding: 10 0 10 0;
}
.btn.primary--inactive{
	background-color: var(--accentColorFaded) !important;
	color: var(--whiteFaded) !important;
	cursor:default !important;
}
.btn.secondary--active{
	background-color: none !important;
	color: var(--blue) !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
	border: 2px solid var(--accentColor);
}
.btn.secondary--active:hover{
	background-color: var(--accentColor) !important;
	color: var(--white) !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
	border: 2px solid var(--accentColor);
}
.btn.tertiary--active{
	background-color: none !important;
	color: var(--blue) !important;
	-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
	border: 0px solid var(--accentColor);
	opacity: 70%;
	cursor: pointer;
}
.btn.tertiary--active.error{
	color: var(--red) !important;
}
.btn.tertiary--active:hover{
	background-color: none !important;
	-olor: var(--blue) !important;
	-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
	border: 0px solid var(--accentColor);
	opacity: 100%;
	text-decoration: underline;
}
.check{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px solid red;
	width: fit-content;
}
.check .checkmark{
	width: 10px;
	height: 10px;
	border: 2px solid var(--white);
	font-size: 10px;
	color: none;
	position: relative;
}
.check .checkmark.checked{
	color: var(--white);
	background-color: var(--accentColorDark);
}
.check .checkmark input{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
}
.heading-form{
	font-family: var(--font);
	font-size: 40px;
	font-weight: 700;
	max-width: 500px;
	width: fit-content;
	border: 0px solid red;
	color: var(--white);
}

/* LOGIN FORMS */
.form-user{
	display: flex;
	flex-direction: column;
	max-width: 380px;
	align-items: center;
	justify-content: center;
	border: 0px solid rgba(0, 0, 255, 0.349);
	/* margin: auto; */
	/* background-color: rgba(255, 255, 255, 0.05); */
}
.form-user label{
	color: var(--white);
	font-size: 22px;
	font-weight: 400;
}
.form-user .form-item{
	display: flex;
	flex-direction: column;
	border: 0px solid rgba(255, 0, 0, 0.308);
	width: 100%;
	margin: 10px;
	margin: 18px 0px 18px 0px;
}
.form-user .form-item input{
	height: 45px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
	color: var(--white);
	margin-top: 10px;
	font-size: 20px;
	padding: 0 20px 0 20px;
}
.form-user .form-item input:valid{
	background: var(--bg-green);
	border: 0.5px solid var(--green);
}
.form-user .form-item input:invalid{
	background: var(--bg-red);
	border: 0.5px solid var(--red);
}
.form-user .form-item input:focus{
	stroke: none;
	border: 2px solid var(--whiteFaded);
	outline: none;
}
.form-user .form-item input:valid:focus{
	border: 2px solid var(--green);
	background: var(--bg-green);
}
.form-user .form-item input:invalid:focus{
	border: 2px solid var(--red);
	background: var(--bg-red);
}
.form-user .form-item.multiple-x{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 0px solid green;
	align-items: center;
}
.form-user .form-item.multiple-x .item{
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid yellow
}
.form-user .form-item.multiple-x .item label{
	margin-left: 10px;
	font-size: 17px;
}
.form-user .form-item.multiple-y{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-user .form-item.multiple-y .item{
	margin: 5px 0 5px 0 ;
}
.form-user .form-item a{
	color: var(--white);
	font-size: 17px;
}
.form-user a.link{
	color: var(--blue);
	cursor: pointer;
}
/* .form-user a.link:hover{
	color: var(--blueDark);
	text-decoration: underline;
} */
.bold{
	font-weight: 600;
}
.form-user error .item{
	margin: 2 0 2 20;
	color: var(--red);
	font-size: 15px;
}
.form-user error .item a{
	color: var(--red);
	margin-left: 5px;
	font-size: 15px;
}

/* LOGO */
.logo{
	font-family: var(--sfont);
	color: var(--white);
	width: fit-content;
	height: fit-content;
	cursor: pointer;
}
.logo.large{
	font-size: 70px;
}
.logo.small{
	font-size: 20px;
}
.logo.medium{
	font-size: 50px;
}

/* LANDING PAGE LAYOUT */
header{
	width: auto;
	min-width: 100%;
	height: 65px;
	border: 0px solid red;
	color: var(--white);
}
.landing-page{
	width: 100%;
	height: 100vh;

	border: 0px solid rgb(0, 255, 76);
	display: flex;
	flex-direction: row;
}
.main-left{
	width: 50%;
	height: 100%;
	border: 0px solid red;
	position: relative;
}
.main-left header .logo{
	margin: 20px;
}
.main-left .logo{
	margin: auto;
	margin-top: 100px;
}
.main-left img#design{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.main-right{
	width: 50%;
	height: 100%;
	border: 0px solid rgb(0, 4, 255);
	background-color: rgb(255, 255, 255, 0.03);
	display: flex;
	overflow-x: hidden;
	overflow: hidden;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}
.main-right .form-container{
	height: 100%;
	width: 50vw;
	border: 0px solid #f06d06;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	flex-grow: 1;
	position: absolute;
	top: 0;
	left: 100%;
	-overflow: scroll;
	overflow-x: hidden;
	transition: all 1s;
	opacity: 0;
}
.main-right .form-container.active{
	left: 0%;
	opacity: 100%;
}
.main-right .form-container .heading-form{
	border: 0px solid red;
}
.main-right .form-container .form-user{
	border: 0px solid red;
	margin: auto;
	margin-top: 30px;
}
.main-right .form-container .content{
	width: 70%;
	border: 0px solid blue;
	height: fit-content;
	margin: auto;
	padding: 50px;
}
footer{
	width: 100%;
	height: fit-content;
	/* height: 500px; <- Just for debudding, remove later */
	border: 1px solid green;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* background-color: rgb(26, 26, 26); */
	/* border-top: 2px solid rgb(153, 153, 153); */
}
footer .logo{
	margin: 0 0 0 30px;
	color: rgb(65, 64, 64);
}
footer .links{
	text-align: right;
	border: 0px solid blue;
	color: rgb(65, 64, 64);
	margin-right: 30px;
}
footer .links .link{
	display: flex;
	flex-direction: row;
	width: 100%;
	border: 0px solid red;
	margin-top: 10px;
	justify-content: space-around;
	cursor: pointer;
}

/* TASK ITEM */
.task-item{
	width: 500px;
	height: fit-content;
	background-color: rgba(0, 0, 0, 0.25);
	border: 0px solid red;
	border-radius: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.5s all;
	/* cursor: pointer; */
	-position: relative;
}
.task-item .alert-box{
	width: 100%;
	-width: fit-content;
	font-style: italic;
	font-size: 15px;
	border-radius: 15px 15px 0 0;
	padding: 5px 0 5px 0;
	transition: all 0.5s;
	opacity: 100%;
	-position: static;
	-position: absolute;
	top: 0;
	left: 0;
}
.task-item .alert-box.success{
	color: var(--green);
	background-color: var(--bg-green);

}
.task-item .alert-box a{
	margin: 5px 20px 5px 20px;
}
.task-item.late3{
	-background-color: rgba(255, 0, 0, 0.05);
}
.task-item:hover .alert-box{
	-display: none;
	opacity: 0;
	-height: 0;
	transition: all 0.5s;
}
.task-item:hover{
	transform: scale(1.05);
	transition: all 0.5s;
}
.task-item.late3{
	-background-color: rgba(59, 0, 0, 0.25);
}
.heading-task{
	color: var(--white);
	font-size: 25px;
	line-height: 30px;
}
.text-task{
	color: var(--whiteFaded);
	font-size: 17px;
	line-height: 23px;
	letter-spacing: 0.75px;
	word-spacing: 2px;
}
.link{
	color: var(--blue);
	-text-decoration: underline;
	font-size: 15;
	margin-top: 10px;
}
.link:hover{
	color: var(--blueDark);
	text-decoration: underline;
}
.task-item .contents{
	display: flex;
	flex-direction: row;
	border: 0px solid yellow;
	justify-content: space-between;
	flex-grow: 1;
}
.task-item .contents .text{
	border: 0px solid green;
	margin: 20px 0 0 15px;
	flex-grow: 1;
	display: flex;
	flex-flow: column wrap;
}
.task-item .contents .text .heading-task{
	border: 0px solid blue;
}
.task-item .contents .text .heading-task{
	border: 0px solid blue;
	max-height: 30x;
	overflow: hidden;
}
.task-item .contents .text .text-task{
	margin: 10px 0 0 0px;
	border: 0px solid yellow;
	max-height: 45px;
	overflow: hidden;
	line-height: ;
}
.task-item .contents .text .text-task{
	margin: 10px 0 0 0px;
	border: 0px solid yellow;
	max-height: 40px;
	overflow: hidden;
}
.task-item .contents .time{
	color: var(--green);
	display: flex;
	flex-direction: column;
	justify-content: right;
	border: 0px solid red;
	text-align: right;
	margin: 20px 15px 0 0px;
	min-width: 150px;
}
.task-item.late2 .contents .time{
	color: var(--yellow);
}
.task-item.late3 .contents .time{
	color: red;
}
.task-item .contents .time .icons{
	border: 0px solid green;
	margin: 20px 0px 0 30px;
	font-size: 25px;
	max-width: 120px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.task-item .contents .time .icons i{
	opacity: 0;
	transition: 0.5s;
	cursor: pointer;
}
.task-item:hover .contents .time .icons i{
	opacity: 50%;
	transition: 0.25s;
	position: relative;
}
.task-item:hover .contents .time .icons i:hover{
	opacity: 100%;
	transition: 0.25s;
}
.task-item .contents .time .icons i.add,
.task-item.late2 .contents .time .icons i.add,
.task-item.late3 .contents .time .icons i.add{
	color: var(--white);
}
.task-item .contents .time .icons i.done,
.task-item.late2 .contents .time .icons i.done,
.task-item.late3 .contents .time .icons i.done{
	color: var(--green)
}
.task-item .contents .time .icons i.no,
.task-item.late2 .contents .time .icons i.no,
.task-item.late3 .contents .time .icons i.no{
	color: var(--red);
}
.task-item .contents .time .icons i.add:hover::after{
	content: "Add to  My  Day";
	position: absolute;
	font-size: 10px;
	width: 100px;
	top: 40px;
	left: -40px;
	border: 0px solid red;
	color: var(--whiteFaded);
	letter-spacing: 1px;
}
.task-item .contents .time .icons i.no:hover::after{
	content: "Reject Task";
	position: absolute;
	font-size: 10px;
	width: 100px;
	top: 40px;
	left: -40px;
	border: 0px solid red;
	letter-spacing: 1px;
}
.task-item .contents .time .icons i.done:hover::after{
	content: "Done";
	position: absolute;
	font-size: 10px;
	width: 50px;
	top: 40px;
	left: -20px;
	border: 0px solid red;
	color: var(--green);
	letter-spacing: 1px;
}
.profile-img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 0px solid red;
	background-position: center;
	background-size: cover;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.24);
}
.profile-img-stack{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 0px solid red;
	width: fit-content;
	height: 30px;
	position: relative;
	/* width: 70px; */
}
.profile-img-stack .profile-img{
	position: absolute;
	top: 0;
}
.sub-text{
	font-size: 12px;
	color: var(--whiteFaded);
}
.name{
	font-size: 15;
	color: var(--white);
}
.task-item .assign{
	display: flex;
	border: 0px solid yellow;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 15px 20px 15px;
}
.task-item .assign .item{
	display: flex;
	flex-direction: row;
}
.task-item .assign .item .name{
	display: flex;
	flex-direction: column;
	margin: 0 0 0 10px;
}
.task-item.expand{
	width: 1000px;
	/* max-height: 500px;
	overflow-y: scroll; */

}
.task-item.expand .contents .text .heading-task{
	max-height: none;
	overflow: visible;
}
.task-item.expand .contents .text .text-task{
	margin: 10px 0 0 0px;
	border: 0px solid yellow;
	max-height: none;
	overflow: visible;
}
.task-item.expand .assign{
	justify-content: space-around;
	-background-color: var(--whiteFaded);
}
.task-item.expand .assign .item{
	flex-direction: column;
	border: solid 0px red;
	min-width: 300px;
	-max-width: 500px;
	width: fit-content;
	max-height: 200px;
	overflow-y: scroll;
	/* flex-grow: 1; */
	
}
.task-item.expand .assign .item.larger{
	flex-grow: 1;
	max-width: 580px;
	-flex-shrink: 1;
}
.task-item.expand .assign .item.larger .profile{
	margin: 5px;
}
.task-item.expand .assign .item .contents{
	display: flex;
	flex-direction: column;
	padding: 0px;
	flex-grow: 1;
	flex-flow: row wrap;
}
.task-item.expand .assign .item .heading-task{
	font-size: 20px;
}
.task-item .options{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	border: 0px solid rebeccapurple;
	margin: 5px;
	display: none;
	opacity: 0;
	transition: all 0.5s;
}
.task-item.expand .options{
	display: flex;
}
.options .item .btn{
	font-size: 15px;
	transition: all 0.2s;
}
.task-item:hover .options{
	display: flex;
	transition: all 0.5s;
	opacity: 100%;
}


/* HEADER */
header .logo{
	margin: 00px 0px 0 40px;
	border: 0px solid red;
}
header .logo img{
	width: 120px;
	border: 0px solid red;
	margin: 00px 0px 0 30px;
}
header{
	border: 0px solid rgb(255, 255, 0);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
header .extra-options{
	display: flex;
	flex-direction: row;
	color: var(--white);
	border: 0px solid red;
	align-items: center;
	margin: 0 5px 0 0 ;
}
header .extra-options .help{
	color: var(--blue);
	margin: 10px;
	font-size: 3px;
	border: 0px solid red;
}
header .extra-options .settings{
	color: var(--whiteFaded);
	margin: 10px;
}
header .extra-options .user{
	display: flex;
	flex-direction: row;
	margin: 10px;

}
header .extra-options .user span{
	font-size: 20px;
}
header .extra-options .user .profile-img{
	width: 24px;
	height: 24px;
}

/* SEARCHBAR */
.search-bar{	
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.10);
	border-radius: 10px 0 0px 10px;
	padding: 5px 10px 5px 20px;
	border-radius: 10px;
	position: relative;
}
.search-bar:focus{
	outline: 1px solid var(--whiteFaded);

}
.search-bar.full-width input{
	width: 320px;
}
.search-bar input{
	background-color: rgba(255, 255, 255, 0);

	font-size: 15px;
	border: none;
	utline: 1px solid var(--whiteFaded);
	outline: none;
	color: var(--white);
}
.search-bar .icon span{
	background-color: none;
	color: var(--white);
	border-radius: 10px;
	margin: 0 0px 0 10px;
}
.search-bar .drop-down{
	max-height: 300px;
	height: fit-content;
	background-color: black;
	border: 0px solid red;
	position: absolute;
	bottom: 0;
	top: 45px;
	left: 0px;
	width: 350px;
	z-index: 15;
	overflow: scroll;
	
}

/* MENU */
.menu{
	width: 240px;
	height: calc(100vh - 65px);
	border: 0px solid rgb(128, 98, 0);
}
.menu .name{
	font-size: 20px;
}
.menu .role{
	font-size: 12px;
	color: var(--whiteFaded);
}
.menu .heading{
	color: white;
	font-size: 17px;
	padding: 20px 0 0 20px;
}
.menu .user-Current{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 5px 10px 5px;
	border: 1px solid var(--whiteFaded);
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.25);
	width: 90%;
}
.menu .user-Current .profile-img{
	width: 50px;
	height: 50px;
}
.menu .user-Current .user-info{
	display: flex;
	flex-direction: column;
	border: 0px solid rgb(21, 255, 0);
	justify-content: center;
}
.menu .items{
	border: 0px solid red;
	width: 80%;
	color: var(--whiteFaded);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.menu .items .item{
	color: var(--whiteFaded);
	font-size: 18px;
	padding: 10px  20px 10px 20px;
	border-radius: 5px;
	margin: 7.5px 0 7.5px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.menu .items .item span{

}
.menu .items .item.active{
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--accentColor2);
}
.menu .items .item .title{
	margin-left: 10px;
}
.menu .items .item.error{
	color: var(--red);

}
.menu .items .bottom-deck{
	margin-top: 80px;
}

/* SCROLL BAR */
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-thumb{
	background: rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-track{
	background: black;
}
::-webkit-scrollbar-corner{
	background: black;
}

/* MAIN PAGES */
body.task{
	overflow: hidden;
}
.body-contents{
	border: 0px solid blue;
	height: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	position: relative;
	
}
.body-contents .main{
	height: calc(100vh - 65px);
	border: 0px solid green;
	flex-grow: 1;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.025);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.body-contents .menu{
	min-width: 250px;
}
.body-contents .left-panel{
	width: 250px;
	border: 0px solid orange;
	height: 500px;
}
.body-contents .right-panel{
	width: 350px;
	border: 0px solid orange;
	height: 500px;
}
header .logo{
	margin: 00px 0px 0 20px;
	border: 0px solid red;
}
header{
	border: 0px solid yellow;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.body-contents .main header{
	border: 0px solid red;
	justify-content: space-between;
	margin: 20px 0 20px 0;
}
.body-contents .main header .title{
	font-size: 30px;
	color: var(--white);
	margin: 0 0 0 20px;
}
.body-contents .main header .tabs{
	display: flex;
	flex-direction: row;
	font-size: 20px;
	color: var(--whiteFaded);
	border: px solid blue;
	font-weight: 500;
}
.body-contents .main header .tabs .item{
	padding: 10px;
}
.body-contents .main header .tabs .item.active{
	color: var(--white);
}
.body-contents .main header .btn{
	margin: 0 20px 0 0 ;
	background-color: var(--accentColorDark);
	background: linear-gradient(-45deg, var(--accentColorDark), var(--accentColor2) );
}
.body-contents .main .task-group{
	width: 95%;
	background-color: rgba(255, 255, 255, 0.025);	
	border-radius: 15px;
	margin: 0 0 50px 0;
}
.body-contents .main .task-group header .title .sub-name{
	color: var(--whiteFaded);
	font-size: 12px;
}
.body-contents .main .task-group header .title .name{
	color: var(--white);
	font-size: 25px;
}
.body-contents .main .task-group .group-contents{
	display: flex;
	flex-flow: row wrap ;
	align-items: center;
	justify-content: space-evenly;
}
.body-contents .main .task-group .group-contents .task-item{
	margin: 0 0 20px 0;
}

 /* OVERLAY */
.body-contents .overlay{
	border: 0px solid blue;
	height: 100%;
	width: calc(100% - 250px);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	position: absolute;
	left: 250px;
	background-color: rgb(0, 0, 0, 0.05);
	backdrop-filter: blur(200px);
	display: none;
	z-index: -10;
	transition: all 0.5s;
	overflow: hidden;
	
}
.body-contents .overlay .main{
	width: 70vw;
	-eight: 200px;
	border: 0px solid red;
	flex-grow: 0;
	background-color: rgba(0, 0, 0, 00.25);
	margin-left: 100px;
	-display: block;
	max-width: 1000px;
	overflow: scroll;
}
.body-contents .overlay .main::-webkit-scrollbar-track{
	background: none;
}
.body-contents .overlay .main header{
	border: 0px solid blue;
	color: white;
	justify-content: flex-start;
}
.body-contents .overlay .main header .left-block{

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-left: 20px;

}
.body-contents .overlay .main header .left-block .back-btn{
	cursor: pointer;
}



/* FORM TASK */
.form-task{
	display: flex;
	flex-direction: row;
	-max-width: 380px;
	-align-items: center;
	justify-content: center;
	border: 0px solid rgba(0, 0, 255, 0.349);
	width: 100%;
}
.form-task .left-panel{
	width: 60%;
	height: fit-content;
	border: 0px solid rgba(0, 0, 255, 0.349);

}
.form-task .right-panel{
	width: 40%;
	height: fit-content;
	border: 0px solid rgb(0, 0, 255);
}
.form-task .right-panel a{
	font-size: 20px;
	color: var(--white);
}
.form-task .form-item{
	display: flex;
	flex-direction: column;
	border: 0px solid rgba(255, 0, 0, 0.308);
	width: 90%;
	margin: 10px 0 0 20px;
}
.form-task .form-item.small{
	width: 80%;
}
.form-task .form-item.x{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.form-task .form-item label{
	color: var(--white);
	color: var(--white);
	font-size: 22px;
	font-weight: 400;
}
.form-task .form-item input{
	height: 45px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
	color: var(--white);
	margin: 10px 00px 10px 0px;
	font-size: 20px;
	padding: 0 20px 0 20px;

}
.form-task .form-item textarea{
	height: 100px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
	color: var(--white);
	margin: 10px 00px 10px 0px;
	font-size: 20px;
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	resize: none;

}
.form-task .form-item.title input{
	background-color: none;
	border-radius: 5px;
	border-bottom: 2px solid var(--whiteFaded);
}
.form-task .right-panel .search-bar{
	margin: 10px;
	width: 80%;
}
.form-task .right-panel 
.form-task .form-item input:focus{
	stroke: none;
	border: 2px solid var(--whiteFaded);
	outline: none;
}
.form-task .form-item.title input:focus{
	stroke: none;
	border: none;
	border-bottom: 2px solid var(--white);
	outline: none;
}
.form-task .form-item.multiple-x{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.form-task .form-item.multiple-x .item{
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid red;
	flex-grow: 0;
	justify-content: space-around;
	width: 80%;
	
}
.form-task .form-item.multiple-x .item label{
	font-size: 17px;
}
.form-task input[type="datetime-local"]::-webkit-calendar-picker-indicator{
	
	-display: none;
	-opacity: 0;
	position: relative;
}
.form-task input[type="datetime-local"]::-webkit-calendar-picker-indicator::after{
	content: "<span class='material-icons'> calendar_today</span>";
	content: "111";
	position: absolute;
	border: 1px solid red;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	color: white;
}

input::-webkit-cal

/* PROFILE */
.profile{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
	border-radius: 5px;
	padding: 10px;
}
.profile:hover{
	transition: all 0.2s;
	background-color: rgba(255, 255, 255, 0.1);
}
.profile .left-section{
	display: flex;
	align-items: center;
	margin-left: 10px;
	max-width: 50%;
}
.profile .uid{
	color: var(--whiteFaded);
}
.profile .profile-img{
	width: 40px;
	height: 40px;
	min-width: 40px;
}
.profile .left-section .name{
	margin: 0 10px 0 10px;
}
.profile .cross-btn{
	position: absolute;
	right: 0;
	height: 100%;
	border: 0px solid red;
	color: var(--red);
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	box-shadow: -20px 0 05px 0px rgb(0, 0, 0, 0.75);
	border-radius: 0px 5px 5px 0 ;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}
.profile .cross-btn span{
	margin: auto;
}
.profile:hover .cross-btn{
	opacity: 100;
}
.profile:hover{
	background-color: rgba(245, 245, 245, 0.075);
}
.profile .left-section .name .role{
	color: var(--whiteFaded);
	font-size: 12px;
	font-weight: 300;
}

/* ALERT */
.alert{
	max-width: 500px;
	width: fit-content;
	height: fit-content;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: var(--white);
	font-size: 20px;
	z-index: 100;
	padding: 20px 40px 20px 40px;
	border-radius: 10px 10px 10px 10px;
}
.alert.success{
	background-color: var(--greenDark);
}
.alert.error{
	background-color: var(--red);
}

.container{
	margin: auto;
	border: 2px solid var(--whiteFaded);
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
header.container{
	width: fit-content;
}

